# File Processing Configuration
SOURCE_PATH=/source

# AWS S3 Configuration
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_REGION=us-east-1
S3_ENDPOINT_URL=your_s3_url
S3_BUCKET_NAME=your_s3_bucket_name
S3_PRESIGNED_URL_EXPIRATION=3600
